{
	"generatorOpts": {
		"jsescOption": {
			"minimal": true
		}
	},
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"chrome": 60
				},
				"loose": true,
				"corejs": 3,
				"useBuiltIns": "entry",
				"modules": false
			}
		],
		[
			"minify",
			{
				"builtIns": false
			}
		]
	]
}
