/* ===========================================================================
	Dark mode colors
   =========================================================================== */

@media (prefers-color-scheme: dark) {
	body {
		--color: #fff;
		--background: #202124;
	}

	h1 {
		--color: #efefef;
	}

	h1.quickey::before {
		--background-image: url(/img/icon-300-inverted.png);
	}

	h2 {
		--color: #ccc;
		--border-color: #555;
	}

	kbd, button {
		--color: #333;
		--background: #cecac9;
		--shadow-color-1: rgba(0, 0, 0, 0.25);
		--shadow-color-2: rgba(0, 0, 0, 0.1);
		--shadow-color-3: rgba(0, 0, 0, 0.6);
		--shadow-color-4: rgba(255, 255, 255, 0.55);
	}

	button.key:hover {
		--background: #eee;
	}

	p {
		--color: #bfbfbf;
	}

	.section-label {
		--color: #ccc;
	}

	.section-label:hover {
		--background: #333;
	}

	.history.icon, .window.icon, .clear.icon {
		--fill: #aaa;
	}

	.inprivate.icon {
		filter: none !important;
		opacity: 1 !important;
	}

	.help-button {
		--color: #666;
		--background: #ccc;
	}

	.help-button:hover {
		--color: #000;
		--background: #fff;
	}

	.update-message {
		--color: #efefef;
		--background: #333;
	}

	.update-message h4 {
		--color: #ccc;
	}

	.control .indicator {
		--background: #555;
	}

	.control label:hover input:not(:disabled) ~ .indicator {
		--background: #666;
	}

	.control input:checked ~ .indicator,
	.control input:checked:focus ~ .indicator,
	.control label:hover input:not(:disabled):checked ~ .indicator {
		--background: #e6e6e7;
	}

	.control input:disabled ~ .indicator {
		--background: #555;
	}

	.control input[type="checkbox"] ~ .indicator:after {
		--border-color: #000;
	}

	.control input[type="checkbox"]:disabled ~ .indicator:after {
		--border-color: #ccc;
	}

	.control input[type="radio"] ~ .indicator:after {
		--background: #000;
	}

	.control input[type="radio"]:disabled ~ .indicator:after {
		--background: #ccc;
	}

	.control input:disabled ~ span {
		--opacity: .4;
	}

	.control .subtitle {
		--color: #aaa;
	}

	.control.current-popup-option {
		--background: #2a2a2a;
	}

	.pro, .con {
		--color: #ccc;
	}

	.pro::before {
		--color: hsl(120, 100%, 30%);
	}

	.con::before {
		--color: hsl(0, 80%, 40%);
	}

	label b, .label b {
		--opacity: .8;
	}

	.shortcut-display {
		--background: #333;
	}

	.shortcut-display:hover {
		--background: #383838;
	}

	.shortcut-display:focus {
		--color: #aaa;
		--background: #666;
		--shadow-color: hsl(240, 100%, 88%);
	}

	.clear-button:hover {
		--background: #505154;
	}

	.clear-button:hover:active {
		--background: #666;
	}

	.shortcut-picker .error {
		--color: rgb(193, 0, 0);
	}

	.incognito-screenshot {
		content: url("/img/incognito-option-dark.png");
	}

	.edge .incognito-screenshot {
		content: url("/img/inprivate-option-dark.png");
	}

	.firefox .incognito-screenshot {
		content: url("/img/private-option-dark.png");
	}
}


/* ===========================================================================
	Base
   =========================================================================== */

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji";
}

:root {
	font-size: 16px;
}

html {
	width: 100vw;
	overflow-x: hidden;
}

body {
	background: var(--background, #fff);
	color: var(--color, #000);
	font-size: 1em;
	user-select: none;
	cursor: default;
	position: relative;
	margin: 0;
	padding: 8em 0;
	display: flex;
	justify-content: center;
	flex-flow: column;
}


/* ===========================================================================
	Page
   =========================================================================== */

section {
	margin: auto;
	position: relative;
}

h1 {
	font-size: 2em;
	color: var(--color, #333);
	margin: 0 0 1.75em 0;
	position: relative;
}

h1.quickey::before {
	content: '';
	background-image: var(--background-image, url(/img/icon-300.png));
	background-size: cover;
	left: -115px;
	top: -55px;
	width: 100px;
	height: 100px;
	position: absolute;
	display: inline-block;
}

h2 {
	font-size: 1.3em;
	line-height: 2;
	color: var(--color, #666);
	margin: 2.5em 0 1.2em 0;
	border-bottom: 1px solid var(--border-color, #ddd);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

kbd, button {
	font-size: smaller;
	font-weight: bold;
	color: var(--color, #ccc);
	padding: 0.2em 0.5em 0.35em 0.5em;
	vertical-align: middle;
	line-height: normal;
	box-shadow:
		0.07em 0.07em 0.125em var(--shadow-color-1, rgba(0, 0, 0, 0.25)),
		0 0 0 0.04em var(--shadow-color-2, rgba(0, 0, 0, 0.3)),
		0.02em 0.02em 0.1em var(--shadow-color-3, rgba(0, 0, 0, 0.4)) inset,
		0.05em 0.05em 0.1em var(--shadow-color-4, rgba(255, 255, 255, 0.35)) inset;
	border-radius: 0.25em;
	background-color: var(--background, #313536);
	display: inline-block;
}

button.key {
	padding: 0.2em 0.75em 0.35em 0.75em;
	margin: 1em 1em 0 0;
	border-radius: 0.25em;
}

button.key:hover {
	background: var(--background, #000);
}

button.key:active {
	opacity: .5;
}

a {
	color: inherit;
}

a:hover {
	opacity: .8;
}

p {
	color: var(--color, #666);
	margin-bottom: 1.5em;
}

main {
	width: 52em;
	position: relative;
}

.help-button {
	color: var(--color, #ccc);
	font-size: .8em;
	font-weight: bold;
	line-height: 100%;
	text-align: center;
	padding: 0 0 0 .05em;
	width: 1.1em;
	height: 1.1em;
	border-radius: 50%;
	background: var(--background, #333);
	bottom: -.5em;
	cursor: pointer;
	position: relative;
	display: inline-block;
	float: right;
}

.mac .help-button {
	font-size: .7em;
	padding: .1em 0 0 .05em;
	width: 1.2em;
	height: 1.2em;
}

.help-button:hover {
	color: var(--color, #fff);
	background: var(--background, #000);
}


/* ===========================================================================
	Section List
   =========================================================================== */

.sections-container {
	display: grid;
	grid-template-columns: 26% 68%;
	grid-column-gap: 6%;
}

.section-list {
	font-size: 1.3em;
	margin-left: -.75em;
	top: 2em;
	position: sticky;
    align-self: flex-start;
}

.section-label {
	line-height: 2;
	color: var(--color, #666);
	padding: 0 .75em .15em;
	margin: 0;
	transition: background-color .15s ease-out;
	border-radius: 0.25em;
}

.section-label:hover {
	background-color: var(--background, #efefef);
}

.section-label.selected {
	font-weight: bold;
	color: inherit;
}

.section > h2:first-of-type {
	margin-top: 0;
}


/* ===========================================================================
	Icons
   =========================================================================== */

.clear.icon {
	fill: var(--fill, #888);
}

.history.icon, .window.icon {
	fill: var(--fill, #999);
}

.incognito.icon, .ff-private.icon {
	fill: var(--fill, #a9a9a9);
}

.inprivate.icon {
	filter: invert(1);
	opacity: .6;
}

.history.icon, .window.icon, .incognito.icon, .inprivate.icon, .ff-private.icon {
	height: 1.2em;
	vertical-align: bottom;
}


/* ===========================================================================
	Update message
   =========================================================================== */

.update-message {
	text-align: center;
	color: var(--color, #333);
	background: var(--background, #efefef);
	padding: 2em 2em;
	margin: -5em 7em 3em 7em;
	border-radius: .5em;
}

.update-message h3 {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.update-message h4 {
	color: var(--color, #555);
	font-size: 1em;
	font-weight: normal;
	line-height: 1.4;
	padding: 0 3em;
	margin: 1em 0 0 0;
}

.update-message h4 .link {
	font-weight: bold;
	text-decoration: underline;
}

.update-message h4 .link:hover {
	filter: brightness(1.6);
}

.update-message h4 .link:hover:active {
	filter: brightness(1);
}

.update-message.pinyin h3 {
	font-weight: normal;
}

.update-message.pinyin h4 {
	font-weight: normal;
	font-size: .9em;
}


/* ===========================================================================
	Controls
   =========================================================================== */

.control {
	margin-bottom: .5em;
}

.control label {
	position: relative;
	padding-left: 1.7em;
	line-height: 1.4em;
	display: inline-block;
}

.control label > .control {
	margin: .5em 0 0 0;
}

	/* don't use display: none so the control can still get focus */
.control input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.control .indicator {
	position: absolute;
	top: .1em;
	left: 0;
	height: 1.25em;
	width: 1.25em;
	border-radius: .25em;
	background: var(--background, #efefef);
	transition: background 0.15s ease-in-out;
}

.control .indicator:after {
	content: '';
	position: absolute;
	display: none;
}

.control label:hover input:not(:disabled) ~ .indicator {
	background: var(--background, #ebebeb);
}

.control input:checked ~ .indicator,
.control input:checked:focus ~ .indicator,
.control label:hover input:not(:disabled):checked ~ .indicator {
	background: var(--background, #313536);
}

.control input:disabled ~ .indicator {
	background: var(--background, #e6e6e6);
	opacity: 0.3;
	pointer-events: none;
}

.control input:checked ~ .indicator:after {
	display: block;
}

.control input[type="checkbox"] ~ .indicator:after {
	left: 30%;
	top: 11%;
	width: 20%;
	height: 46%;
	border: solid var(--border-color, #fff);
	border-width: 0 .2em .2em 0;
	transform: rotate(45deg);
}

.control input[type="checkbox"]:disabled ~ .indicator:after {
	border: none;
}

.control input[type="radio"] ~ .indicator {
	border-radius: 50%;
}

.control input[type="radio"] ~ .indicator:after {
	left: 25%;
	top: 25%;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	background: var(--background, #fff);
}

.control input[type="radio"]:disabled ~ .indicator:after {
	background: var(--background, #7b7b7b);
}

.control input:disabled ~ span {
	opacity: var(--opacity, .5);
}

.control .subtitle {
	color: var(--color, #666);
	font-size: .9em;
}

.control .subtitle kbd {
	line-height: 1.1;
}

.control-group {
	margin: 1em 0 2em 0;
}

.control-group .label {
	line-height: 1.5;
	margin-bottom: .25em;
}

.radio-list {
	padding: 0 0 0 1em;
}

.radio-list .control {
	padding: .25em;
	margin-bottom: 0;
}

.chrome-shortcuts {
	cursor: pointer;
}

.incognito-screenshot {
	width: 100%;
	margin: 0 0 .5em 0;
	cursor: pointer;
}

.new-setting {
	display: flex;
	align-items: self-start;
}

.new-setting > .control-group {
	margin: 0;
}

.new-indicator {
	color: #d70000;
	font-weight: bold;
	font-size: .7em;
	line-height: 2.1em;
	text-indent: -3.5em;
	animation: red-fade 3s infinite ease-out;
}

@keyframes red-fade {
	0% { color: #f33; }
	100% { color: #d70000; }
}

.control.hide-popup label {
	width: 100%;
}

.control.current-popup-option {
	background: var(--background, #fafafa);
}

.pro, .con {
	color: var(--color, #666);
	font-size: .9em;
	line-height: 1.3;
	margin: 0 0 .5em 1em;
	text-indent: -2.5em;
	padding-left: 2.5em;
}

.pro::before, .con::before {
	font-weight: bold;
	width: 2.5em;
	text-indent: 0;
	display: inline-block;
}

.pro::before {
	content: 'PRO';
	color: var(--color, hsl(120, 100%, 17%));
}

.con::before {
	content: 'CON';
	color: var(--color, hsl(0, 80%, 33%));
}

.proscons {
	width: 15em;
	margin-top: 1.75em;
	float: left;
}

.proscons div#behind {
	margin-top: .5em;
}

.proscons div#tab {
	margin-top: 2.5em;
}

.proscons div#minimize {
	margin-top: 4.5em;
}


/* ===========================================================================
	Keyboard shortcuts
   =========================================================================== */

.shortcut {
	display: inline-block;
}

.shortcut kbd {
	margin-right: .25em;
	text-align: center;
}

.shortcut kbd.width1 {
	width: 2.15em;
}

.shortcut kbd.width2 {
	width: 3.1em;
}

.shortcut kbd.width3 {
	width: 3.65em;
}

.shortcut kbd.width4 {
	width: 5.625em;
}

.shortcut kbd:last-child {
	margin-right: 0;
}


/* ===========================================================================
	Shortcut setting
   =========================================================================== */

.shortcut-setting {
	display: flex;
	margin-bottom: .5em;
}

.shortcut-setting .label {
	padding: .35em 0;
	margin-right: 1em;
	line-height: 1.1em;
	width: 53%;
}

label b, .label b {
	opacity: var(--opacity, .65);
}


/* ===========================================================================
	Shortcut picker
   =========================================================================== */

.shortcut-setting > .shortcut-picker {
	width: 45%;
}

.shortcut-display {
	font-size: 30px;
	padding: .25em;
	position: relative;
	border-radius: 6px;
	background: var(--background, #efefef);
	box-shadow: none;
	transition: box-shadow 0.15s ease-out;
}

.shortcut-display:hover {
	background: var(--background, #ebebeb);
}

.shortcut-display:focus {
	color: var(--color, #777);
	background: var(--background, #ddd);
	box-shadow: 0 -0.1em 0 var(--shadow-color, #228) inset;
	outline: none;
}

.disabled .shortcut-display, .disabled .shortcut-display:hover, .disabled .shortcut-display:focus {
	background: none !important;
	box-shadow: none !important;
	opacity: .6;
}

.shortcut-display .placeholder {
	font-size: .5em;
	top: 0;
	padding-left: .5em;
	line-height: 3em;
	position: absolute;
}

.shortcut-display .shortcut {
	font-size: 30px;
	height: 1em;
	display: block;
}

.shortcut-display kbd, .key {
	height: inherit;
	border: 0;
	border-radius: 0.125em;
	font-size: inherit;
	text-align: center;
	outline: 0;
	position: relative;
	vertical-align: top;
	margin-right: .25em;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.shortcut-display kbd > span, .key > span {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.5em;
	line-height: 2;
	width: 100%;
}

.shortcut-display kbd.width1 {
	width: 1.15em;
}

.shortcut-display kbd.width2 {
	width: 1.65em;
}

.shortcut-display kbd.width3 {
	width: 1.95em;
}

.shortcut-display kbd.width4 {
	width: 3em;
}

.clear-button {
	width: 20px;
	height: 20px;
	right: 6px;
	top: 50%;
	margin-top: -10px;
	background-size: 10px 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 100%;
	opacity: .6;
	position: absolute;
	display: block;
}

.clear-button:hover {
	background-color: var(--background, #ccc);
	opacity: 1;
}

.clear-button:hover:active {
	background-color: var(--background, #bbb);
}

.clear-button .clear.icon {
	width: 16px;
	height: 16px;
	top: 2px;
	left: 2px;
	position: absolute;
}

.shortcut-picker .error {
	font-size: smaller;
	color: var(--color, hsl(0, 100%, 45%));
	padding: .35em 2.15em 0;
	position: relative;
}

.shortcut-picker .error .alert.icon {
	fill: var(--color, hsl(0, 100%, 45%));
	left: .5em;
	top: .5em;
	position: absolute;
}

	/* on macOS and a standard def monitor, the error icon is a little low and
	   so its bottom gets cut off.  so move it a little higher on Mac. */
.mac .shortcut-picker .error .alert.icon {
	left: .5em;
	top: .4em;
}


/* ===========================================================================
	Shortcut picker
   =========================================================================== */

.labeled-shortcut {
	height: 2.5em;
	margin-bottom: .25em;
	display: flex;
	flex-direction: row;
	gap: .5em;
	align-items: center;
}

.labeled-shortcut > div:first-of-type {
	width: 40%;
}

.labeled-shortcut > .shortcut {
	margin-top: .25em;
	cursor: pointer;
}
