/* ===========================================================================
	Dark mode colors
   =========================================================================== */

@media (prefers-color-scheme: dark) {
	body {
		--color: #fff;
		--background: #202124;
	}

	.options.icon, .search.icon, .clear.icon {
		--fill: #aaa;
	}

	.history.icon, .window.icon, .incognito.icon {
		--fill: #777;
	}

	.inprivate.icon {
		filter: none !important;
		opacity: .8 !important;
	}

	.search-box, .command-placeholder {
		--border-color: #555;
	}

	.search-box input::-webkit-input-placeholder, .command-placeholder {
		--color: rgb(139, 139, 139);
	}

	.search-box input::-webkit-search-cancel-button {
		background-image: url(/img/clear-dark.svg) !important;
	}

	.search-box input::-webkit-search-cancel-button:hover,
	.options-button:hover,
	.results-list-item.selected:hover .close-button:hover {
		--background: #535457;
	}

	.search-box input::-webkit-search-cancel-button:hover:active,
	.options-button:hover:active,
	.results-list-item.selected:hover .close-button:hover:active {
		--background: #5d5e61;
	}

	.results-list-item.selected {
		--background: #444547;
	}

	.results-list-item div b, .search-box input {
		--color: hsl(240, 80%, 88%);
	}

	.results-list-item div.title-index {
		--color: #bbb;
		--background: #444;
	}

	.results-list-item.selected div.title-index {
		--background: #666;
	}

	::-webkit-scrollbar-thumb {
		--background: rgba(255, 255, 255, .1);
	}

	::-webkit-scrollbar-thumb:hover {
		--background: rgba(255, 255, 255, .3);
	}
}


/* ===========================================================================
	Popup
   =========================================================================== */

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
	width: 500px;
	height: 35px;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background, #fff);
	color: var(--color, #000);
	font-size: 14px;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	overflow: hidden;
}

img {
	-webkit-user-drag: none;
}


/* ===========================================================================
	Icons
   =========================================================================== */

.options.icon, .search.icon, .clear.icon {
	fill: var(--fill, #888);
}

.history.icon, .window.icon, .incognito.icon {
	fill: var(--fill, #bbb);
}

.inprivate.icon {
	filter: invert(1);
	opacity: .6;
}

.icon {
	width: 16px;
	height: 16px;
}

.search.icon {
	width: 13px;
	height: 13px;
}


/* ===========================================================================
	Search box
   =========================================================================== */

.search-box {
	position: relative;
}

.search-box input, .command-placeholder {
	font-size: 14px;
	font-weight: bold;
	width: 490px;
	height: 25px;
	margin: 5px;
	padding: 2px 22px 5px 28px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--border-color, #ddd);
	outline: none;
}

.search-box .search.icon {
	top: 9px;
	left: 12px;
	position: absolute;
}

.search-box input::-webkit-input-placeholder, .command-placeholder {
	font-weight: normal;
	font-style: italic;
	color: var(--color, rgb(117, 117, 117));
}

.search-box input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	margin: 0 0 0 2px;
	background-image: url(/img/clear.svg);
	background-size: 10px 16px;
	background-repeat: no-repeat;
	background-position: center;
}

.search-box input::-webkit-search-cancel-button:hover {
	background-color: var(--background, #dcdcdc);
}

.search-box input::-webkit-search-cancel-button:hover:active {
	background-color: var(--background, #bbb);
}

.command-placeholder {
	top: 0;
	left: 0;
	position: absolute;
	border: none;
	background: none;
		/* rules below are copied from the input placeholder CSS */
	line-height: initial;
	white-space: pre;
	word-wrap: normal;
	-webkit-user-modify: read-only;
	overflow: hidden;
	-webkit-text-security: none;
	pointer-events: none;
}

.win .command-placeholder {
	padding-top: 1px;
}

.command-placeholder b {
	visibility: hidden;
	font-style: normal;
}

.options-button {
	width: 22px;
	height: 22px;
	top: 5px;
	right: 5px;
	padding: 3px;
	border-radius: 50%;
	text-align: center;
	background-color: transparent;
	position: absolute;
	display: inline-block;
}

.options-button .badge {
	width: 6px;
	height: 6px;
	top: 0;
	right: 0;
	border-radius: 50%;
	background: #f33;
	position: absolute;
}

.options-button:hover {
	background-color: var(--background, #dcdcdc);
}

.options-button:active {
	background-color: var(--background, #bbb);
}

.options-button:hover img {
	filter: invert(1);
}


/* ===========================================================================
	Results list
   =========================================================================== */

.results-list-container {
	padding: 0 5px 3px 5px;
}

.mac .results-list-container {
	padding-bottom: 5px;
}

.results-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	outline: none;
}

.results-list-item {
	margin: 0;
	padding: 4px 6px 5px 28px;
	max-width: 490px;
	background-position: 6px 6px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}

.results-list-item.selected {
	background-color: var(--background, #ebebeb)
}

.results-list-item .favicon, .results-list-item .badge {
	left: 6px;
	top: 6px;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	position: absolute;
}

.results-list-item.closed .favicon {
	opacity: 0.4;
}

.results-list-item .badge {
	top: 25px;
}

.results-list-item.closed .badge {
	left: 5px;  /* this icon looks more centered when shifted left 1px */
}

.results-list-item div.title, .results-list-item div.url {
	width: 100%;
	height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.results-list-item div b, .search-box input {
	color: var(--color, hsl(240, 60%, 33%));
}

.results-list-item div.title:empty::after {
	opacity: 0.6;
	content: "no title"
}

.results-list-item div.url {
	font-size: 12px;
	opacity: 0.7;
}

.results-list-item.suspended div.title {
	opacity: 0.7;
}

.results-list-item.suspended div.url {
	opacity: 0.5;
}

.results-list-item.closed div.title {
	opacity: 0.6;
}

.results-list-item.closed div.url {
	opacity: 0.45;
}

.results-list-item div.title-index {
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    color: var(--color, #666);
    min-width: 1.5em;
    height: 1.5em;
    top: -0.1em;
    background: var(--background, #efefef);
    border-radius: .75em;
    padding: .05em 0.4em 0 0.4em;
    margin: 0 .5em 0 0;
    display: inline-block;
    position: relative;
}

.mac .results-list-item div.title-index {
	padding-top: .15em;
}

.results-list-item.selected div.title-index {
	background: var(--background, #dbdbdb);
}

.results-list-item .close-button {
	outline: none;
	display: none;
}

.results-list-item .close-button .clear.icon {
	width: 10px;
	height: 16px;
	top: 4px;
	left: 7px;
	position: absolute;
}

.results-list-item.selected:hover {
	padding-right: 36px;
}

.results-list-item.selected:hover .close-button {
	width: 24px;
	height: 24px;
	right: 6px;
	top: 50%;
	margin-top: -12px;
	background-color: transparent;
	border: none;
	opacity: .6;
	border-radius: 50%;
	position: absolute;
	display: block;
}

.results-list-item.selected:hover .close-button:hover {
	background-color: var(--background, #dcdcdc);
	opacity: 1;
}

.results-list-item.selected:hover .close-button:hover:active {
	background-color: var(--background, #d1d1d1);
}

.results-list-item.message {
	padding: 0;
	display: flex;
	align-items: center;
}

.results-list-item.message div.title {
	background-position: 6px 1px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding: 1px 6px 2px 28px;
	height: auto;
	line-height: 120%;
	white-space: normal;
	opacity: 0.5;
	flex: 1;
}


/* ===========================================================================
	Results list scrollbar
   =========================================================================== */

::-webkit-scrollbar {
	background: none !important;
	overflow: visible;
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--background, rgba(0, 0, 0, 0.05));
	border: 1px solid transparent;
	border-radius: 0;
	width: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--background, rgba(0, 0, 0, 0.15));
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 4px 6px;
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 6px 4px;
	min-height: 20px;
}

::-webkit-scrollbar-track-piece {
	background: none;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
