/* ===========================================================================
	Popup
   =========================================================================== */

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
	width: 500px;
	height: 35px;
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	overflow: hidden;
}


/* ===========================================================================
	Search box
   =========================================================================== */

.search-box, .command-placeholder {
	font-size: 14px;
	font-weight: bold;
	width: 490px;
	height: 25px;
	margin: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 2px 22px 5px 28px;
	background-image: url(/img/search.svg);
	background-position: 7px 4px;
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
}

input.search-box::-webkit-input-placeholder, .command-placeholder {
	font-weight: normal;
	font-style: italic;
}

input.search-box::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	margin: 0 0 0 2px;
	background-image: url(/img/clear.svg);
	background-size: 10px 16px;
	background-repeat: no-repeat;
	background-position: center;
}

input.search-box::-webkit-search-cancel-button:hover {
	background-color: #dcdcdc;
}

input.search-box::-webkit-search-cancel-button:hover:active {
	background-color: #bbb;
}

.command-placeholder {
	top: 0;
	left: 0;
	position: absolute;
	border: none;
	background: none;
		/* rules below are copied from the input placeholder CSS */
	line-height: initial;
	white-space: pre;
	word-wrap: normal;
	-webkit-user-modify: read-only;
	overflow: hidden;
	-webkit-text-security: none;
	color: rgb(117, 117, 117);
	pointer-events: none;
}

.win .command-placeholder {
	padding-top: 1px;
}

.command-placeholder b {
	visibility: hidden;
	font-style: normal;
}

.options-button {
	width: 22px;
	height: 22px;
	top: 5px;
	right: 5px;
	padding: 3px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	display: inline-block;
}

.options-button .badge {
    width: 6px;
    height: 6px;
    top: 0;
    right: 0;
	border-radius: 50%;
	background: #f33;
	position: absolute;
	display: none;
}

.options-button:hover {
	background-color: #dcdcdc;
}

.options-button:hover:active {
	background-color: #bbb;
}

.options-button img {
	-webkit-user-drag: none;
}

.options-button:hover img {
	filter: invert(1);
}


/* ===========================================================================
	Results list
   =========================================================================== */

.results-list-container {
	padding: 0 5px 3px 5px;
}

.mac .results-list-container {
	padding-bottom: 5px;
}

.results-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	outline: none;
}

.results-list-item {
	margin: 0;
	padding: 4px 6px 5px 28px;
	max-width: 490px;
	background-position: 6px 6px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}

.results-list-item.selected {
	background-color: #ebebeb;
}

.results-list-item .favicon, .results-list-item .badge {
	left: 6px;
	top: 6px;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	position: absolute;
}

.results-list-item.closed .favicon {
	opacity: 0.4;
}

.results-list-item .badge {
	top: 25px;
	display: none;
}

.results-list-item.incognito .badge {
	background-image: url(/img/incognito.svg);
	display: block;
}

.results-list-item.other-window .badge {
	background-image: url(/img/window.svg);
	display: block;
}

.results-list-item.closed .badge {
	left: 5px;  /* this icon looks better centered shifted left 1px */
	background-image: url(/img/history.svg);
	display: block;
}

.results-list-item div.title, .results-list-item div.url {
	width: 100%;
	height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.results-list-item div b, .search-box {
	color: #228;
}

.results-list-item div.title:empty::after {
	opacity: 0.6;
	content: "no title"
}

.results-list-item div.url {
	font-size: 12px;
	opacity: 0.7;
}

.results-list-item.suspended div.title {
	opacity: 0.7;
}

.results-list-item.suspended div.url {
	opacity: 0.5;
}

.results-list-item.closed div.title {
	opacity: 0.6;
}

.results-list-item.closed div.url {
	opacity: 0.45;
}

.results-list-item div.title-index {
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    color: #666;
    min-width: 1.5em;
    height: 1.5em;
    top: -0.1em;
    background: #efefef;
    border-radius: .75em;
    padding: .05em 0.4em 0 0.4em;
    margin: 0 .5em 0 0;
    display: inline-block;
    position: relative;
}

.mac .results-list-item div.title-index {
	padding-top: .15em;
}

.results-list-item.selected div.title-index {
	background: #fafafa;
}

.results-list-item.tabs.selected:not(.closed):hover {
	padding-right: 36px;
}

.results-list-item .close-button {
	outline: none;
	display: none;
}

.results-list-item.tabs.selected:not(.closed):hover .close-button {
	width: 24px;
	height: 24px;
	right: 6px;
	top: 50%;
	margin-top: -12px;
	background-image: url(/img/clear.svg);
	background-size: 10px 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	opacity: .6;
	border-radius: 50%;
	position: absolute;
	display: block;
}

.results-list-item.tabs.selected:hover .close-button:hover {
	background-color: #dcdcdc;
	opacity: 1;
}

.results-list-item.tabs.selected:hover .close-button:hover:active {
	background-color: #bbb;
}

.results-list-item.message {
	padding: 0;
	display: flex;
	align-items: center;
}

.results-list-item.message div.title {
	background-position: 6px 1px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding: 1px 6px 2px 28px;
	height: auto;
	line-height: 120%;
	white-space: normal;
	opacity: 0.5;
	flex: 1;
}


/* ===========================================================================
	Results list scrollbar
   =========================================================================== */

::-webkit-scrollbar {
	background: none !important;
	overflow: visible;
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid transparent;
	border-radius: 0;
	width: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 4px 6px;
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 6px 4px;
	min-height: 20px;
}

::-webkit-scrollbar-track-piece {
	background: none;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
