/* ===========================================================================
    Popup
   =========================================================================== */

* {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
	font-size: 14px;
}

html, body {
	width: 500px;
	height: 35px;
	margin: 0;
	padding: 0;
}

body {
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}


/* ===========================================================================
    Search box
   =========================================================================== */

.search-box, .command-placeholder {
	font-weight: bold;
	width: 490px;
	height: 25px;
	margin: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 2px 2px 5px 27px;
	background-image: url(/img/search.svg);
	background-position: 6px 4px;
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
}

input.search-box::-webkit-input-placeholder, .command-placeholder {
	font-weight: normal;
	font-style: italic;
}

input.search-box::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 16px;
	width: 10px;
	background-image: url(/img/clear.svg);
	background-size: 10px 16px;
	background-repeat: no-repeat;
}

.command-placeholder {
	top: 0;
	left: 0;
	position: absolute;
	border: none;
	background: none;
		/* rules below are from the input placeholder CSS */
	line-height: initial;
	white-space: pre;
	word-wrap: normal;
	-webkit-user-modify: read-only;
	overflow: hidden;
	-webkit-text-security: none;
	color: rgb(117, 117, 117);
	pointer-events: none;
}

.win .command-placeholder {
	padding-top: 1px;
}

.command-placeholder b {
	visibility: hidden;
}


/* ===========================================================================
    Results list
   =========================================================================== */

.results-list-container {
	padding: 0 5px 5px 5px;
}

.results-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: overlay !important;
	outline: none;
}

.results-list-item {
	margin: 0;
	padding: 4px 6px 5px 28px;
	max-width: 490px;
	background-position: 6px 6px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.results-list-item.selected {
	background-color: #dfdfff;
}

.results-list-item.incognito {
	background-image: url(/img/incognito.svg);
	background-size: 16px 16px;
	background-position: 6px 25px;
}

.results-list-item .favicon {
	left: 6px;
	top: 6px;
	width: 16px;
	height: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}

.results-list-item div {
	width: 100%;
	height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.results-list-item div b, .search-box {
	color: #228;
}

.results-list-item div.title:empty::after {
	opacity: 0.6;
	content: "no title"
}

.results-list-item div.url {
	height: 17px;
	font-size: 12px;
	opacity: 0.7;
}

.results-list-item div.url b {
	font-size: 12px;
}
.results-list-item.selected {
	background-color: #dfdfff;
}

.results-list-item div {
	width: 100%;
	height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.results-list-item div b, .search-box {
	color: #228;
}

.results-list-item div.title:empty::after {
	opacity: 0.6;
	content: "no title"
}

.results-list-item div.url {
	height: 17px;
	font-size: 12px;
	opacity: 0.7;
}

.results-list-item div.url b {
	font-size: 12px;

}

/* ===========================================================================
    Results list scrollbar
   =========================================================================== */

::-webkit-scrollbar {
	background: none !important;
	overflow: visible;
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid transparent;
	border-radius: 0;
	width: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 4px 6px;
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 6px 4px;
	min-height: 20px;
}

::-webkit-scrollbar-track-piece {
	background: none;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
