/* ===========================================================================
    Popup
   =========================================================================== */

* {
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
	font-size: 14px;
}

html, body {
	width: 500px;
	height: 35px;
	margin: 0;
	padding: 0;
}

body {
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}


/* ===========================================================================
    Search box
   =========================================================================== */

.search-box, .command-placeholder {
	font-weight: bold;
	width: 490px;
	height: 25px;
	margin: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 2px 2px 5px 27px;
	background-image: url(/img/search.svg);
	background-position: 6px 4px;
	background-size: 13px 13px;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
}

input.search-box::-webkit-input-placeholder, .command-placeholder {
	font-weight: normal;
	font-style: italic;
}

input.search-box::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 16px;
	width: 10px;
	background-image: url(/img/clear.svg);
	background-size: 10px 16px;
	background-repeat: no-repeat;
}

.command-placeholder {
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1px;
	border: none;
	background: none;
		/* rules below are from the input placeholder CSS */
	line-height: initial;
	white-space: pre;
	word-wrap: normal;
	-webkit-user-modify: read-only;
	overflow: hidden;
	-webkit-text-security: none;
	color: rgb(117, 117, 117);
	pointer-events: none;
}

.command-placeholder b {
	visibility: hidden;
}


/* ===========================================================================
    Results list
   =========================================================================== */

ul.results-list {
	list-style: none;
	margin: 0;
	padding: 0 5px 5px 5px;
	width: 100%;
	display: none;
}

ul.results-list li {
	margin: 0;
	padding: 4px 6px 5px 28px;
	max-width: 490px;
	background-position: 6px 6px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.results-list li.selected {
	background-color: #dfdfff;
}

ul.results-list li div {
	width: 458px;
	height: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.results-list li div b, .search-box {
	color: #228;
}

ul.results-list li div.title:empty::after {
	opacity: 0.6;
	content: "no title"
}

ul.results-list li div.url {
	opacity: 0.6;
}
