---
---

@import "{{ site.theme }}";

@import "glide.core.min.css";

body {
	color: #444;
	font-family: "Segoe UI", "Trebuchet MS", sans-serif;
	font-size: 16px;
	line-height: 1.4em;
}

body p.edge {
	display: none;
}

body.edge p.edge {
	display: block;
}

body.edge p.no-edge {
	display: none;
}

h2 {
	margin: 60px 0 20px;
}

h3 {
	color: #666;
	margin-left: 1em;
}

section	{
	width: 525px;
}

section.comments {
	margin-top: 4em;
}

footer {
	float: right;
	position: static;
	width: 525px;
	clear: both;
}

code {
	font-size: smaller;
	line-height: 100%;
}

button {
	padding: 0.6em 1.5em 0.7em;
	font: inherit;
	font-weight: bold;
	color: #ddd;
	background: #333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
	transition: all 0.15s ease-out;
	outline: none;
}

button:hover {
	box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.15);
	transform: scale(1.1);
}

button:active {
	background: #ddd;
	color: #333;
	box-shadow: none;
}

button span {
	font-weight: normal;
	padding-left: .2em;
	opacity: .5;
}


button.copy {
	font-size: smaller;
	padding: 0.25em 0.8em .3em;
}

header button {
	font-size: large;
}

kbd {
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 11px;
	padding: 3px 5px;
	line-height: 10px;
	vertical-align: middle;
	color: #444d56;
	background-color: #fafbfc;
	border: solid 1px #c6cbd1;
	border-bottom-color: #959da5;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #959da5;
	display: inline-block;
}

p > b, li > b {
	font-weight: normal;
	white-space: nowrap;
}

b > kbd + kbd {
	margin-left: 0.3em;
}

a:hover, a:focus {
	font-weight: normal;
	text-decoration: underline;
}

a code {
	color: inherit;
}

@media print, screen and (max-width: 960px) {
	section, footer {
		width: auto;
		float: none;
		position: static;
	}

	section {
		border: none;
		padding: 40px 0;
	}
}

li > ul {
	margin-bottom: 0;
}

.no-install .install {
	display: none;
}

.no-install .install-fallback {
	display: block !important;
}

.chrome-store {
	width: 165px;
}

.no-install .chrome-store {
	width: 248px;
}

.glide {
	max-width: 100%;
	margin-bottom: 3em;
	line-height: 0;
}

.glide__slides {
	margin: 0;
}

.glide__slide img {
	max-width: 100%;
}

.glide--swipeable {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.glide--dragging {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
