---
---

@import "{{ site.theme }}";

body {
	color: #444;
	font-family: "Segoe UI", "Trebuchet MS", sans-serif;
	font-size: 16px;
	line-height: 1.4em;
}

h2 {
	margin: 40px 0 20px;
}

section	{
	width: 525px;
}

footer {
	float: right;
	position: static;
	width: 525px;
	clear: both;
}


button {
	width: 110px;
	padding: 0.4em 0.4em 0.5em;
	font: inherit;
	font-weight: bold;
	color: #ddd;
	background: #333;
	border: none;
	border-radius: 5px;
}

button:hover {
	box-shadow: inset 0px 0px 15px 1px rgba(150, 150, 150, 1);
}

button:active {
	background: #ddd;
	color: #333;
}

kbd {
	font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
	display: inline-block;
	padding: 3px 5px;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

p > b, li > b {
	white-space: nowrap;
}

b > kbd + kbd {
	margin-left: 0.3em;
	font-weight: normal;
}

a:hover, a:focus {
	font-weight: normal;
	text-decoration: underline;
}

@media print, screen and (max-width: 960px) {
	section, footer {
		width: auto;
		float: none;
		position: static;
	}

	section {
		border: none;
		padding: 40px 0;
	}
}

li > ul {
	margin-bottom: 0;
}
